codecon/accounts/migrations/*.pyc
codecon/accounts/*.pyc
codecon/codecon/*.pyc
codecon/comments/migrations/*.pyc
codecon/comments/*.pyc
codecon/posts/migrations/*.pyc
codecon/posts/*.pyc
codecon/profiles/migrations/*.pyc
codecon/profiles/*.pyc
*.pyc
codecon/codecon/media_cdn/cover_photos/
codecon/codecon/media_cdn/posts_files/
codecon/codecon/media_cdn/profile_photos/
*.sqlite3