@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
    font-family: Couture;
    src: url({% static 'fonts/couture-bld.otf' %});
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0 0;
	font-family: Roboto, sans-serif;
  	background-color: white;
}

.navbar{
	position: fixed;
	display: flex;
	align-items: center;

	height: 45px;
	width: 100%;
	background-color: #4dc96b;
	box-shadow: 0px 1px 0.5px #888888;
	z-index: 1000000;
}

.logo{
	margin-left: 10px;
	font-size: 1.7em;
	font-family: Roboto;
	color: white;
}

.home{
	color: white;
	text-decoration: none;
}

.home:hover {
	color: green;
}

.container{
	display: flex;
	justify-content: center;

	width: 100%;
	
	min-height: 100%;
	height: auto;
	background-color: #f5f5f5
}

.rounded{
	/*border-style: 0.2px solid lightgrey;*/
	/*border-width: 0.2px;
	border-color: lightgrey;*/
	border-radius: 2%;

	text-align: center;
	color: #4dc96b;
}

@media only screen and (min-width: 720px) {
	.logo{
		margin-left: 8%;
	}
}