

.buttonSpan{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 70px;
}

.postButton{
	/*width: calc(100% - 20px);*/
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80%;
	height: 40px;

	margin-top: 15px;
	margin-bottom: 15px;

	color: white;
	font-family: Roboto, sans-serif;
	font-size: 3vh;
	text-decoration: none;

	border-radius: 20px;
	border-style: none;
	background-color: #4dc96b;
}

.postButton:active {
	background-color: white;
	color: #4dc96b;
}

.postStream{
	width: 100%;/*
	margin-top: 15px;
	margin-bottom: 20px;*/
}

.postItem{
	display: flex;
	flex-direction: column;
	min-height: 50px;
	padding: 10px;
	border-style: solid;
	border-width: 0.1px;
	border-color: lightgrey;
	background-color: white;
}

.postOwner{
	display: flex;
	position: relative;
	height: 50px;
}

.ownerDP{
	height: 50px;
	width: 50px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background: white;
}

.ownerDP > img {
	width: 50px;
	height: auto;
}

.ownerDetails{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 50px;
	right: 50px;
	width: auto;
	height: 50px;
}

.ownerName{
	width: 100%;
	margin-left: 10px;

	font-size: 0.9em;
}

.nameFull{
	color: black;
	font-weight: bolder;
}

.nameUser{
	color: grey;
	font-size: 0.87em;
}

.timeStamp{
	width: 100%;
	color: grey;
	font-size: 0.8em;
	margin-left: 10px;
}

.starButton{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
	height: 50px;
	width: 50px;
}

.starButton > img {
	width: 30px;
	height: 30px;
	-webkit-filter: grayscale(100%);
}

.starButton > img:hover {
	width: 30px;
	height: 30px;
	-webkit-filter: grayscale(0%);
	/*-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));*/
}

.postContent{
	position: relative;
	height: auto;
	min-height: 20px;
}

.contentTitle{
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;

	font-weight: bold;
	font-family: Roboto, sans-serif;
	font-size: 1.2em;
}

.contentType{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

	color: grey;
	font-size: 0.8em;
}

.contentBody{
	width: 100%;
	margin-top: 10px;

	font-size: 0.9em;
}

.postActions{
	background-color: lightgrey;
}

.actionSpan{
	position: relative;
	height: auto;
	padding: 1px;
	padding-left: 8px;
	color: crimson;
	background-color: lightgreen;
}

.action{
	margin-right: 5px;
	font-size: 0.83em;
}

.action:hover {
	text-decoration: underline;
}

.action > a{
	color: green;/*
	font-weight: bold;*/
	text-decoration: none;
}

.action > a:hover {
	-webkit-filter: grayscale(90%);
}

.actionComment{
	background-color: lightgrey;
	padding: 8px;
	margin-bottom: 15px;
}
