.postStream{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
}

.postItem{
	display: flex;
	flex-direction: column;
	min-height: 50px;
	padding: 10px;
	border-style: solid;
	border-width: 0.1px;
	border-color: lightgrey;
	background-color: white;
}

.postOwner{
	display: flex;
	position: relative;
	height: 60px;
}

.ownerDP{
	height: 60px;
	width: 60px;
	overflow: hidden;
	background-color: lightpink;
}

.ownerDP > img {
	width: 60px;
	height: auto;
}

.ownerDetails{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 60px;
	right: 60px;
	width: auto;
	height: 60px;
}

.ownerName{
	width: 100%;
	margin-left: 20px;
}

.nameFull{
	color: black;
	font-size: 17px;
	font-weight: bolder;
}

.nameUser{
	color: grey;
	line-height: 18px;
}

.timeStamp{
	width: 100%;
	color: grey;
	font-size: 14px;
	margin-left: 20px;
}

.starButton{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
	height: 60px;
	width: 60px;
}

.starButton > img {
	width: 40px;
	height: 40px;
	-webkit-filter: grayscale(100%);
}

.starButton > img:hover {
	width: 40px;
	height: 40px;
	-webkit-filter: grayscale(0%);
	/*-webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));*/
}

.postContent{
	position: relative;
	height: auto;
	min-height: 20px;
}

.contentTitle{
	position: relative;
	width: 100%;

	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;

	font-weight: bold;/*
	font-family: Helvetica;*/
	font-size: 1.4em;
}

.contentType{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;

	color: grey;
}

.contentBody{
	width: 100%;

	margin-top: 5px;
}

.postActions{
	background-color: lightgrey;
}

.actionSpan{
	position: relative;
	height: auto;
	padding: 3px;
	padding-left: 8px;
	color: crimson;
	background-color: lightgreen;
}

.action{
	margin-right: 5px;
	font-size: 15px;
}

.action:hover {
	text-decoration: underline;
}

.action > a{
	color: green;/*
	font-weight: bold;*/
	text-decoration: none;
}

.action > a:hover {
	-webkit-filter: grayscale(90%);
}

.actionComment{
	background-color: lightgrey;
	padding: 8px;
	margin-bottom: 15px;
}
