{% load staticfiles %}

 <!DOCTYPE html>
 <html ng-app="Blog">
 <head>
     <meta charset="utf-8">
 	 <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
     <script src="{% static 'library/angular.js' %}"></script>
     <script src="{% static 'library/angular-animate.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'library/angular-cookies.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'library/angular-ui-router.min.js' %}"></script>
     
     <script type="text/javascript" src="{% static 'javascripts/rest_api/index.js' %}"></script>
     <script type="text/javascript" src="{% static 'javascripts/rest_api/routes.js' %}"></script>
     <script type="text/javascript" src="{% static 'javascripts/rest_api/config.js' %}"></script>
     <script type="text/javascript" src="{% static 'javascripts/rest_api/services/authentication.js' %}" >
     </script>
     <script type="text/javascript" src="{% static 'javascripts/rest_api/controllers/register.js' %}"></script>
     <base href="/"></base>
 </head>
 <body>
     <div ui-view>
     </div>
 </body>
 </html>