{% extends 'base.html' %}

{% block page_title %}
	Welcome to Codegram
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
	<div class="topbar">
		<h1 class="noselect"><a class="siteName">Codecon</a></h1>
		<button class="outButton">About</button>
	</div>
	<div class="content gradientBg">
		<div class="intro">
			<h2 class="introTitle">Introducing Codecon.</h2>
			<img src="{% static 'images/pizza.gif' %}" style="height: 140px; width: auto;">
			<p class="introText">&emsp;&emsp;Find new ways of interacting with your fellow programmers all over the globe. Post ideas, overviews, tutorials, algorithms, and anything and everything about the computer world. Review contents, star posts, add comments, and many more to help us curate a list of the best of the best posts in our community.</p>
			<p class="introText" style="text-align: center;"><b>Start Now!</b></p>
		</div>
		<div class="forms">
			<div class="inForm square">
				<form method="post" action="{% url 'accounts:login' %}">
  					{% csrf_token %}
					<br><input type="username" name="login_username" placeholder="User Name" value="{{ login_username }}"><br>
					<input type="password" name="login_password" placeholder="Password"><br>
					<button type="submit" class="inButton" value="Login">LOG IN</button>
					<br>
					{% for item in login_errors %}
						{{ item }} <br>
					{% endfor %}
				</form>
			</div>
			<div class="upForm square">
				<br>
				<form method="post" action="{% url 'accounts:register' %}">
					{% csrf_token %}
					<input type="text" name="reg_firstname" id="reg_firstname" placeholder="First Name" value="{{ reg_firstname }}"><br>
					<input type="text" name="reg_lastname" id="reg_lastname" placeholder="Last Name" value="{{ reg_lastname }}"><br>
					<input type="email" name="reg_email" id="reg_email" placeholder="Email Address" value="{{ reg_email }}"><br>
					<input type="text" name="reg_username" id="reg_username" placeholder="User Name" value="{{ reg_username }}"><br>
					<input type="password" name="reg_password1" placeholder="Password" d="reg_password1"><br>
					<input type="password" name="reg_password2" placeholder="Confirm Password" id="reg_password2"><br>
					<button type="submit" class="inButton">SIGN UP</button><br>
					{% for item in reg_errors %}
						{{ item }} <br>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/account.js' %}"></script>>
{% endblock %}
