{% extends 'base.html' %}

{% block page_title %}
	MUSTARELLA!
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bg.css' %}">
	<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
	<div class="content">
		<div class="contentInfo rounded"></div>
		<div class="contentForm">
			<div class="form signin rounded">
				<form method="post" action="{% url 'accounts:login' %}?next={{ next }}">
					{% csrf_token %}
					<br><input type="username" name="login_username" placeholder="User Name" value="{{ login_username }}"><br>
					<input type="password" name="login_password" placeholder="Password"><br>
					<button type="submit" class="confirm" value="Login">LOG IN</button>
					<br>
					{% for item in login_errors %}
						{{ item }} <br>
					{% endfor %}
				</form>
			</div>
			<div class="form signup rounded">
				<form method="post" action="{% url 'accounts:register' %}">
					{% csrf_token %}
					<br><input type="text" name="reg_firstname" id="reg_firstname" placeholder="First Name" value="{{ reg_firstname }}"><br>
					<input type="text" name="reg_lastname" id="reg_lastname" placeholder="Last Name" value="{{ reg_lastname }}"><br>
					<input type="email" name="reg_email" id="reg_email" placeholder="Email Address" value="{{ reg_email }}"><br>
					<input type="text" name="reg_username" id="reg_username" placeholder="User Name" value="{{ reg_username }}"><br>
					<input type="password" name="reg_password1" placeholder="Password" d="reg_password1"><br>
					<input type="password" name="reg_password2" placeholder="Confirm Password" id="reg_password2"><br>
					<button type="submit" class="confirm">SIGN UP</button><br>
					{% for item in reg_errors %}
						{{ item }} <br>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/account.js' %}"></script>
{% endblock %}
