{% extends 'base.html' %}

{% block page_title %}
	Edit Post
{% endblock %}

{% block css %}
	{% load static %}
{% endblock %}

{% block content %}
	<a href="{% url 'accounts:logout' %}">Logout</a>
	<a href="{% url 'posts:homepage'%}">Home</a>
	<form method="post" action="{% url 'posts:update_post' pk=post.pk %}">
		{% csrf_token %}
		<input type="text" name="post_title" placeholder="Post Title" value="{{ post.title }}"><br>
		<input type="text" name="post_category" placeholder="Category" value="{{ post.category }}" ><br>
		<input type="text" name="post_language" placeholder="Language" value="{{ post.language }}" ><br>
		<textarea name="post_content" placeholder="Content">{{ post.content }}</textarea><br>
		<button type="submit">POST</button>
	</form>
{% endblock %}

{% block javascripts %}
	{% load static %}
{% endblock %}
