{% extends 'base.html' %}


{% block page_title %}
  View Post
{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/stream.css' %}">
  <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block content %}
  {% load static %}
  <div class="content">
    <div class="mainPanel">
      <h2>{{ type }}</h2>
        {% for follow in follows %}
            {% if type == "following" %}
              <a href="{% url 'posts:list' page_type='profile' user_id=follow.followed.pk %}">{{ follow.followed.username }}</a>
            {% elif type == "followers" %}
              <a href="{% url 'posts:list' page_type='profile' user_id=follow.follower.pk %}">{{ follow.follower.username }}</a>
            {% endif %}
        {% endfor %}
    </div>  
  </div>
{% endblock %}
  
{% block javascripts %}
  {% load static %}

{% endblock %}
