{% extends 'base.html' %}

{% block page_title %}
	MUSTA WEIRDOUGH!
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/stream.css' %}">
	<link rel="stylesheet" href="{% static 'css/comment.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
	<div class="content">
		<div class="mainPanel">
			<div id="userPanel" class="minProfile"></div>
			{% block publisher %}
				{% include "publisher.html" %}
			{% endblock%}
			<div class="buttonSpan">
				<a class="postButton" href="#navbar">CREATE CONTENT</a>
			</div>
			{% block stream %}
				<div class="postStream">
					{% for item in posts %}
			   			{% include "stream.html" %}
			   		{% endfor %}
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/drawer.js' %}"></script>
{% endblock %}
