{% extends 'base.html' %}

{% block page_title %}
	Add Post
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}



{% block content %}
	<a href="{% url 'accounts:logout' %}">Logout</a>
	<a href="{% url 'posts:list' page_type='stream' %}">Home</a>
	<a href="{% url 'posts:list' page_type='profile' %}">All Posts</a>
	<hr>
		<div>
			<h1>{{ post.title }}</h1> 
			{{ post.date_created }} <br>
			{{ post.category }} : {{ post.language }} <br>
			<h3>{{ post.content }}</h3> <br>
			{% if post.is_owner %}
				<a href="{% url 'posts:update' pk=post.pk %}">Update</a>
				<a href="{% url 'posts:delete' pk=post.pk %}">Delete</a>
			{% endif %}
			
			<a href="{% url 'posts:like' pk=post.pk %}">Like</a>
			{{ post.all_likes.count }}

			{% for like in post.all_likes %}
				<hr>
				{{ like.liker }} <br>
				last {{ like.like_date }}  <br>
				<hr>
			{% endfor %}
			<form method="POST" action="{% url 'comments:add' post_id=post.pk %}">
				{% csrf_token %}
				<textarea name="content"></textarea>
				<button type="submit">SUBMIT</button>
			</form>

			{% for comment in post.all_comments %}
				<hr>
				<form style="display:none;" method="POST" action="{% url 'comments:add' post_id=post.pk %}?next=detail">
					{% csrf_token %}
					<textarea name="content">{{ comment.content }}</textarea>
					<button type="submit">SUBMIT</button>
				</form>
				<div id="" >
					{{ comment.content }} <br>
					last {{ comment.date_created }}  <br>
					by {{ comment.owner }}<br>
					{% if comment.is_owner %}
						<a id="editComment" href="#">Edit</a>
						<a href="{% url 'comments:delete' pk=comment.pk post_id=post.pk %}">Delete</a>
					{% endif %}
				</div>
				<hr>
			{% endfor %}

			
		</div>
	<hr>
{% endblock %}

{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/post.js' %}"></script>
{% endblock %}


