{% extends 'base.html' %}

{% block page_title %}
	View Post
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/stream.css' %}">
	<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block content %}
	{% load static %}
	<div class="content">
		<div class="mainPanel">
			<div id="userPanel" class="userPanel">
				<div class="userCover"><img class="covPhoto" src="{{MEDIA_ROOT}}{{ owner.my_profile.cover_photo_url }}"></div>
				<div class="userPhoto"><img class="defPhoto" src="{{MEDIA_ROOT}}{{ owner.my_profile.profile_photo_url }}"></div>
				<div class="userName"><span>{{ owner.first_name }} {{ owner.last_name }}</span></div>
				<div class="userTabs">
					<div class="tabFollow">
					{% if not is_owned %}
						{% if not is_followed %}
							<a class="followButton" role="button" href="{% url 'profiles:follow' pk=owner.pk %}?next={{request.path}}">FOLLOW</a>
						{%  else %}
							<a class="followButton" role="button" href="{% url 'profiles:unfollow' pk=owner.pk %}?next={{request.path}}">UNFOLLOW</a>
						{% endif %}
					{% endif %}
					</div>
					<div class="tabHolder">
						<a class="tabAction" role="button" href="">
							<span>{{ posts.count }}</span>
							<span>Published</span>
						</a>
						<a class="tabAction" role="button" href="">
							<span>{{ owner.followers.count 	}}</span>
							<span>Followers</span>
						</a>
						<a class="tabAction" role="button" href="">
							<span>{{ owner.followed.count }}</span>
							<span>Following</span>
						</a>
					</div>
				</div>
			</div>
			{% block publisher %}
				{% include "publisher.html" %}
			{% endblock%}
			<div class="buttonSpan">
				{% if is_owned %}
				<a class="postButton" href="#navbar">CREATE CONTENT</a>
				{% endif %}
			</div>
			{% block stream %}
				<div class="postStream">
					<div id="count-div"><h3 id="count-text">You have <b id="notifs-count">0</b> unread notifications.</h3></div>
					<ul id="notifs"></ul>
					{% for item in posts %}
			   			{% include "stream.html" %}
			   	{% endfor %}
				</div>
			{% endblock %}
		</div>	
	</div>
{% endblock %}
	
{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/drawer.js' %}"></script>
{% endblock %}
