{% extends 'base.html' %}


{% block page_title %}
	View Post
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/stream.css' %}">
	<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block content %}
	{% load static %}
	<div class="content">
		<div class="mainPanel">
			<div id="userPanel" class="userPanel">
				<div class="userCover"><img class="covPhoto" src="{% static 'images/cover.png' %}"></div>
				<div class="userPhoto"><img class="defPhoto" src="{% static 'images/default.png' %}"></div>
				<div class="userName"><span>{{ owner.first_name }} {{ owner.last_name }}</span></div>
				<div class="userTabs">
					<div class="tabFollow">
						<a class="followButton" role="button" href="">FOLLOW</a>
					</div>
					<div class="tabHolder">
						<a class="tabAction" role="button" href="">
							<span>{{ posts.count }}</span>
							<span>Published</span>
						</a>
						<a class="tabAction" role="button" href="">
							<span>{{ owner.my_followers.count }}</span>
							<span>Followers</span>
						</a>
						<a class="tabAction" role="button" href="">
							<span>{{ owner.my_followed.count }}</span>
							<span>Following</span>
						</a>
					</div>
				</div>
			</div>
			{% block publisher %}
				{% include "publisher.html" %}
			{% endblock%}
			<div class="buttonSpan">
				<a class="postButton" href="#navbar">CREATE CONTENT</a>
			</div>
			{% block stream %}
				<div class="postStream">
					{% for item in posts %}
			   			{% include "stream.html" %}
			   	{% endfor %}
				</div>
			{% endblock %}
		</div>	
	</div>
{% endblock %}
	
{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/drawer.js' %}"></script>
{% endblock %}
