{% extends 'base.html' %}


{% block page_title %}
	View Post
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/stream.css' %}">
	<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block content %}
	{% load static %}
	<div class="content">
		<div class="mainPanel">
			<div id="userPanel" class="userPanel">
				<div class="userCover">
					<img class="covPhoto" src="{{MEDIA_ROOT}}{{ owner.my_profile.cover_photo_url }}">
					<img class="tempCover" src="">
					{% if is_owned %}
					<form method="post" enctype="multipart/form-data" action="{% url 'profiles:change_coverpic' %}">
			          	{% csrf_token %}
			          	<div id="changeTextCVR">Change Cover Photo<br></div>
          				<input  id="inputCVR" type="file" name="cover_photo">
          				<button id="upCVRbutton" type="submit">Upload</button>
			        </form>
			        {% endif %}
					<!-- <form method="post" enctype="multipart/form-data" action="{% url 'profiles:change_coverpic' %}">
          				{% csrf_token %}
          				<div id="changeTextCVR">Change Cover Photo<br></div>
          				<input  id="inputCVR" type="file" name="profile_photo">
          				<button id="upCVRbutton" type="submit">Upload</button>
          			</form> -->
          			<button id="upCVRcancel" onclick="hideCVR()">Cancel</button>
				</div>
				<div class="userName"><span>{{ owner.first_name }} {{ owner.last_name }}</span></div>
				<div class="userTabs">
					<div class="tabFollow">
						<div class="id-group">
							<div class="photoGroup">
								<div class="userPhoto">
									<img class="defPhoto" src="{{MEDIA_ROOT}}{{ owner.my_profile.profile_photo_url }}">
									<img class="tempPhoto" src="">
									{% if is_owned %}
									<form method="post" enctype="multipart/form-data" action="{% url 'profiles:change_profpic' %}">
										{% csrf_token %}
										<input  id="inputIMG" type="file" name="profile_photo">
										<div id="changeText">Change<br>Default<br>Photo<br></div>
										<button id="upButton" type="submit">Upload</button>
									</form>
									{% endif %}
									<button id="upCancel" onclick="hide()">Cancel</button>
								</div>
							</div>
							{% if not is_owned %}
								{% if not is_followed %}
									<a class="followButton" role="button" href="{% url 'profiles:follow' pk=owner.pk %}?next={{request.path}}">FOLLOW</a>
								{%  else %}
									<a class="followButton" role="button" href="{% url 'profiles:unfollow' pk=owner.pk %}?next={{request.path}}">UNFOLLOW</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="tabHolder">
						<a class="tabAction" role="button" href="">
							<span>{{ posts.count }}</span>
							<span>Published</span>
						</a>
						<a class="tabAction" role="button" href="{% url 'profiles:follow_page' pk=owner.pk page_type='followers' %}">
							<span>{{ owner.followed.count }}</span>
							<span>Followers</span>
						</a>
						<a class="tabAction" role="button" href="{% url 'profiles:follow_page' pk=owner.pk page_type='following' %}">
							<span>{{ owner.followers.count }}</span>
							<span>Following</span>
						</a>
						
					</div>
				</div>
			</div>
			{% block publisher %}
				{% include "publisher.html" %}
			{% endblock%}
			<div class="buttonSpan">
				{% if is_owned %}
				<a class="postButton" href="#navbar">CREATE CONTENT</a>
				{% endif %}
			</div>
			<div id="follow-list"></div>
			<h2>TOP 10 WEEKLY POSTS</h2>
			<div id="top10-list"></div>
			{% if owner == request.user %}
				<div id="notifs"></div>
			{% endif %}
			{% block stream %}
				<div class="postStream">
					{% for item in posts %}
							{% if item.owner == owner %}
			   				{% include "stream.html" %}
							{% endif %}
			   		{% endfor %}
				</div>
			{% endblock %}
		</div>	
	</div>
{% endblock %}
	
{% block javascripts %}
	{% load static %}
	<script src="{% static 'js/drawer.js' %}"></script>
	<script src="{% static 'js/follow.js' %}"></script>
	<script type="text/javascript">
		// function doThis(){
		// 	$("#upButton").css("display", "block")
		// }
		function hide() {
			$("#upButton").css("display", "none");
	        $("#upCancel").css("display", "none");
	        $('.tempPhoto').attr('src', "");
	        $(".tempPhoto").css("display", "none");
		}

		function hideCVR() {
			$("#upCVRbutton").css("display", "none");
	        $("#upCVRcancel").css("display", "none");
	        $('.tempCover').attr('src', "");
	        $(".tempCover").css("display", "none");
		}

		$("#inputIMG, #upButton, #changeText").hover(function(){
	        // $("#upButton").css("display", "block");
	        $("#changeText").css("display", "flex");
	    }, function(){
	        // $("#upButton").css("display", "none");
	        $("#changeText").css("display", "none");
	    });

	    $("#inputCVR, #changeTextCVR").hover(function(){
	        // $("#upButton").css("display", "block");
	        $("#changeTextCVR").css("display", "flex");
	    }, function(){
	        // $("#upButton").css("display", "none");
	        $("#changeTextCVR").css("display", "none");
	    });

		function readURL(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	           
	            reader.onload = function (e) {
	            	$(".tempPhoto").css("display", "block");
	                $('.tempPhoto').attr('src', e.target.result);
	                $("#upButton").css("display", "flex");
	                $("#upCancel").css("display", "block");
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	    
	    $("#inputIMG").change(function(){
	        readURL(this);
	    });

	    function readURLtoCover(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
	            	$(".tempCover").css("display", "block");
	                $('.tempCover').attr('src', e.target.result);
	                $("#upCVRbutton").css("display", "flex");
	                $("#upCVRcancel").css("display", "block");
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
	    }

	    $("#inputCVR").change(function(){
	        readURLtoCover(this);
	    });
	</script>
{% endblock %}
