{% extends 'base.html' %}


{% block page_title %}
  Search
{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stream.css' %}">
  <link rel="stylesheet" href="{% static 'css/comment.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/minprofile.css' %}">
{% endblock %}

{% block content %}
  {% load static %}
  <div class="content">
    <div class="mainPanel">
      <header style="color: green; margin-top: 10px;">Search Results</header>
      <div class="tabBar" style="width: 100%; display: flex; flex-direction: row; margin-bottom: 5px;">
        <button style="display: block; width: 100%; background-color: #4dc96b; color: white; font-size: 4vh; padding-top: 10px; padding-bottom: 10px; border: none; box-shadow: 1px 1px black;" class="tablink" id="postTab" onclick="openCity(event, 'postTab' ,'postsResults')">POSTS</button>
        <button style="display: block; width: 100%; background: white; color: #4dc96b; font-size: 4vh; padding-top: 10px; padding-bottom: 10px; border: none; box-shadow: 1px 1px black;" class="tablink" id="resultTab" onclick="openCity(event, 'resultTab', 'usersResults')">USERS</button>
      </div>

      <div id="postsResults" class="resultPanel">
        {% block stream %}
          <div class="postStream">
            {% for item in posts %}
                {% include "stream.html" %}
              {% endfor %}
          </div>
        {% endblock %}
      </div>

      <div id="usersResults" class="resultPanel userList" style="display:none">
        {% for item in users %}
        <div class="profileItem" style="">
          <div class="profFrame">
            <img class="profPhoto" src="{{MEDIA_ROOT}}{{ item.my_profile.profile_photo_url }}">
            {% if item != request.user %}
             {% if item.is_followed %}
                <a style="position: absolute; bottom: 0px; width: 70px; background-color: #4dc96b; color: white; text-decoration: none; text-align: center; justify-content: center; border-radius: 20px; font-size: 1.5vh; margin: 5px;" role="button" href="{% url 'profiles:unfollow' pk=item.pk %}?next={{request.path}}">UNFOLLOW</a>
             {% elif not item.is_followed %}
                <a style="position: absolute; bottom: 0px; width: 70px; background-color: #4dc96b; color: white; text-decoration: none; text-align: center; justify-content: center; border-radius: 20px; font-size: 1.5vh; margin: 5px;" role="button" href="{% url 'profiles:follow' pk=item.pk %}?next={{request.path}}">FOLLOW</a>
             {% endif %}
           {% endif %}
          </div>
          <div class="profNames">
            <a href="{% url 'posts:list' page_type='profile' user_id=item.pk%}">
              <p>
                <p>{{ item.first_name }} {{ item.last_name }}</p>
                <p>@{{ item.username }}</p> 
              </p>          
             </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
    </div>  
  </div>

  <script>
    function openCity(evt, tabName, cityName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("resultPanel");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        document.getElementById(tabName).style.color = "#4dc96b";
        document.getElementById(tabName).style.backgroundColor = "white";
      }

      x = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        x[i].style.backgroundColor = "white";
        x[i].style.color = "#4dc96b";
      }

      document.getElementById(cityName).style.display = "flex";
      document.getElementById(tabName).style.color = "white";
      document.getElementById(tabName).style.backgroundColor = "#4dc96b";
    }
  </script>
{% endblock %}
  
{% block javascripts %}
  {% load static %}
{% endblock %}
