{% load static %}
<div class="postItem">
	<div class="postOwner">
		<div class="ownerDP"><img src="{% static 'images/default.png' %}"></div>
		<div class="ownerDetails">
			<div class="ownerName">
				<span class="nameFull">{{ item.owner.first_name }} {{ item.owner.last_name }}</span>
				<span class="nameUser">@{{ item.owner }}</span>
			</div>
			<div class="timeStamp">{{ item.date_created }}<a href=".commentBox"></a></div>
		</div>
		<div class="starButton"><img src="{% static 'images/star.png' %}"></div>
	</div>
	<div class="postContent">
		<div class="contentTitle">{{ item.title }}</div>
		<div class="contentType">{{ item.category }} : {{ item.language }}</div>
		<div class="contentBody">{{ item.content }}</div>
	</div>
</div>
<div class="postActions">
	<div class="actionSpan">
		<span class="action">
			<a href="{% url 'posts:like' post_id=item.pk %}?next={{request.path}}">{{item.all_likes.count}} Star</a>
		</span>
		<span class="action"><a href="">Reply</a></span>
	</div>
	<div class="actionComment">
		<form class="commentForm" method="POST" action="{% url 'comments:add' post_id=item.pk %}?next={{ request.path }}">
			{% csrf_token %}
			<input class="commentBox" type="text" name="content" contenteditable="true" placeholder="Enter Comment Here">
		</form>
		<div class="commentStream">
			{% for comment in item.all_comments %}
				<div class="commentItem">
					<div class="commentDP"><img src="{% static 'images/default.png' %}"></div>
					<div class="commentRight">
						<div class="commentOwner">
							<div class="commentFull">{{ comment.owner.first_name }} {{ comment.owner.last_name }}</div>
							<div class="commentUser">@{{ comment.owner }}</div>
						</div>
						<div class="commentContent">
							<div class="contentText">{{ comment.content }}</div>
							<div class="commentStamp">on {{ comment.date_created }}</div>
						</div>
						<div class="commentActions">
							{% if comment.is_owner %}
								<div class="functionSpan">
									<span class="function"><a href="">Edit</a></span>
									<span class="function"><a href="{% url 'comments:delete' pk=comment.pk %}?next={{ request.path }}">Delete</a></span>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>