{% load static %}
<div class="postItem">
	<div class="postOwner">
		<div class="ownerDP"><img src="{{MEDIA_ROOT}}{{ item.owner.my_profile.profile_photo_url }}"></div>
		<div class="ownerDetails">
			<div class="ownerName">
				<span class="nameFull">{{ item.owner.first_name }} {{ item.owner.last_name }}</span>
				<span class="nameUser">@{{ item.owner }}</span>
			</div>
			<div class="timeStamp"><a href="{% url 'posts:detail' pk=item.pk %}">{{ item.date_created }}</a><a href=".commentBox"></a></div>
		</div>
		<!-- <div class="starButton"><img src="{% static 'images/star.png' %}"></div> -->
	</div>
	<div class="postContent">
		<div class="contentTitle">{{ item.title }}</div>
		<div class="contentType">{{ item.category }} : {{ item.language }}</div>
		<div class="contentBody">{{ item.content | safe }}</div>
	</div>
</div>
<div class="postActions">
	<div class="actionSpan">
		<span class="action">
			<a href="{% url 'posts:like' post_id=item.pk %}?next={{request.path}}">{{item.all_likes.count}} Star</a>
		</span>
		<span class="action"><a href="">Reply</a></span>
		{% if item.owner == owner %}
			<span class="action"><a href="{% url 'posts:update' pk=item.pk %}">Update</a></span>
			<span class="action"><a href="{% url 'posts:delete' pk=item.pk %}?next={{ request.path }}">Delete</a></span>
		{% endif %}
	</div>
	<div class="actionComment">
		<form class="commentForm" method="POST" action="{% url 'comments:add' post_id=item.pk %}?next={{ request.path }}">
			{% csrf_token %}
			<input class="commentBox" type="text" name="content" contenteditable="true" placeholder="Enter Comment Here">
		</form>
		<div class="commentStream">
			{% for comment in item.all_comments %}
				<div class="commentItem">
					<div class="commentDP"><img src="{{MEDIA_ROOT}}{{ comment.owner.my_profile.profile_photo_url }}"></div>
					<div class="commentRight">
						<div class="commentOwner">
							<div class="commentFull">{{ comment.owner.first_name }} {{ comment.owner.last_name }}</div>
							<div class="commentUser">@{{ comment.owner }}</div>
						</div>
						<div class="commentContent">
							<div id="comment_content{{comment.pk}}" class="contentText">{{ comment.content }}</div>
							<form style="display: none;" id="edit_comment{{comment.pk}}"  class="commentForm" method="POST" action="{% url 'comments:update' pk=comment.pk %}?next={{ request.path }}">
								{% csrf_token %}
								<input class="commentBox" type="text" name="content" contenteditable="true" placeholder="Update Comment" value="{{ comment.content }}">
							</form>
							<div class="commentStamp">on {{ comment.date_created }}</div>
						</div>
						
						<div class="commentActions">
							{% if comment.is_owner %}
								<div class="functionSpan">
									<span class="function"><a href="#" onclick="showEditForm(event, {{comment.pk}})">Edit</a></span>
									<span class="function"><a href="{% url 'comments:delete' pk=comment.pk %}?next={{ request.path }}">Delete</a></span>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% block javascripts %}
		<script type="text/javascript">
			function showEditForm(event,pk){
				event.preventDefault()
				localStorage['scroll_position'] = $(window).scrollTop();
				$("#comment_content" + pk).hide()
				$("#edit_comment" + pk).css("display", "block")	
			}
		</script>
{% endblock %}