{% extends 'base.html' %}
{% load dractags %}

{% block page_title %}
	Add Post
{% endblock %}

{% block css %}
	{% load static %}
{% endblock %}

{% block content %}
	<a href="{% url 'accounts:logout' %}">Logout</a>
	<a href="{% url 'posts:homepage'%}">Home</a>
	{% for item in posts %}
		<hr>
			<div>
				<h1>{{ item.title }}</h1> 
				{{ item.date_created }} <br>
				{{ item.category }} : {{ item.language }} <br>
				<h3>{{ item.content }}</h3> <br>
				{{ item.text |safe_markdown }}

				<strong>Likes : {{item.likes.count}}</strong>
				<!--  -->
			</div>
		<hr>
	{% endfor %}
{% endblock %}

{% block javascripts %}
	{% load static %}
{% endblock %}
