{% extends 'base.html' %}


{% block page_title %}
	View Post
{% endblock %}

{% block css %}
	{% load static %}
{% endblock %}

{% block content %}
	<a href="{% url 'accounts:logout' %}">Logout</a>
	<a href="{% url 'posts:homepage'%}">Home</a>
	{% for item in posts %}
		<hr>
			<div>
				<h1><a href="{% url 'posts:post_detail' pk=item.pk %}">{{ item.title }}</a></h1> 
				{{ item.date_created }} <br>
				{{ item.category }} : {{ item.language }} <br>
				<h3>{{ item.content }}</h3> <br>
				<form method="POST">
					<textarea name="comment_content"></textarea>
					<button type="submit">SUBMIT</button>
				</form>
				{% for comment in item.all_comments %}
					<hr>
					{{ comment.content }} <br>
					last {{ comment.date_created }}  <br>
					by {{ comment.owner }}<br>
					<hr>
				{% endfor %}

				<a href="{% url 'posts:like_post' pk=item.pk %}">Like</a>
				<strong>{{item.all_likes.count}}</strong>
			</div>
		<hr>
	{% endfor %}
{% endblock %}

{% block javascripts %}
	{% load static %}
{% endblock %}
